{
	"root": true,
	"extends": "eslint:recommended",
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 8,
		"babelOptions": {
			"configFile": "./babelrc"
		}
	},
	"plugins": [
		"sort-class-members"
	],
	"rules": {
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"sort-imports": [
			"error",
			{
				"ignoreCase": true
			}
		],
		"sort-class-members/sort-class-members": [
			"error",
			{
				"order": [
					{
						"group": "static-properties",
						"sort": "alphabetical"
					},
					{
						"group": "static-methods",
						"sort": "alphabetical"
					},
					{
						"group": "properties",
						"sort": "alphabetical"
					},
					{
						"group": "conventional-private-properties",
						"sort": "alphabetical"
					},
					{
						"name": "constructor"
					},
					{
						"group": "methods",
						"sort": "alphabetical"
					},
					{
						"group": "conventional-private-methods",
						"sort": "alphabetical"
					}
				],
				"accessorPairPositioning": "getThenSet"
			}
		],
		"no-multiple-empty-lines": [
			"error",
			{
				"max": 1,
				"maxEOF": 1
			}
		],
		"lines-between-class-members": [
			"error",
			"always"
		],
		"require-jsdoc": [
			"error",
			{
				"require": {
					"FunctionDeclaration": true,
					"MethodDefinition": false,
					"ClassDeclaration": true,
					"ArrowFunctionExpression": false,
					"FunctionExpression": false
				}
			}
		]
	},
	"env": {
		"browser": false,
		"node": true,
		"es6": true,
		"mocha": true
	}
}